* {
  margin: 0 auto;
}
main {
  max-width: 1100px;
}
.filtering {
  max-width: 1100px;
}
html {
  font-family: Apple Chancery;
}
body {
  background-image: url(AdobeStock_252754318.jpeg);
}
.splash {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.splash h1 {
  display: flex;
  align-items: center;
}
.list_options {
  display: flex;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↓";
}
#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↑";
}
#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
article {
  background-image: url(frame.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23rem;
  width: 18rem;
}
.slytherin {
  background-image: url(slytherin.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.ravenclaw {
  background-image: url(rawenclaw.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.hufflepuff {
  background-image: url(hufflepuff.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.gryffindor {
  background-image: url(griffindor.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.house {
  text-align: end;
  color: white;
}
.container {
  padding-block: 3rem;
  width: 12.5rem;
}
.id {
  text-align: center;
}
#popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  overflow: scroll;
}

#popup article {
  background-image: none;
  width: 30%;
  height: 70%;
  background-image: url(popup.png);
}
.popup-container {
  display: flex;
  flex-direction: column;
}
.frame {
  background-image: url(frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2rem;
}
