.filtering {
  position: relative;
}
html {
  font-family: Apple Chancery;
}
body {
  background-image: url(AdobeStock_252754318.jpeg);
}
table {
  display: flex;
  justify-content: center;
}
.splash {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.splash h1 {
  display: flex;
  align-items: center;
}
.list_options {
  display: flex;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↓";
}
#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↑";
}
#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}
article {
  background-image: url(frame.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.slytherin {
  background-image: url(slytherin.png);
  background-size: contain;
  width: 100%;
}
.ravenclaw {
  background-image: url(rawenclaw.png);
  background-size: contain;
}
.hufflepuff {
  background-image: url(hufflepuff.png);
  background-size: contain;
}
.gryffindor {
  background-image: url(griffindor.png);
  background-size: contain;
}
.house {
  text-align: end;
  color: white;
}
.container {
  padding-inline: 3rem;
  padding-block: 2rem;
}
.id {
  text-align: center;
}
#popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  overflow: scroll;
}

#popup article {
  background-image: url(popup.png);
  background-size: contain;
}
.popup-container {
  position: relative;
  width: 400px;
  height: 600px;
}
.frame {
  position: absolute;
  top: 36px;
  right: 30px;
}

.close {
  font-size: 2em;
  position: absolute;
  right: 5px;
  top: -5px;
  padding: 0;
  margin: 0;
}

.expelledRed {
  display: block !important;
  position: absolute;
  top: 60%;
  left: 5%;
  text-align: center;
  transform: translate(-50%, -50%);
  border: none;
  transform: rotate(-18deg);
  font-size: 62px;
  font-weight: 800;
  color: rgb(61, 8, 8);
}
.hidden {
  display: none;
}

/* DIALOPG BOX */
.modal {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 35, 24, 0.901);
}
.dialog {
  background: rgb(255, 255, 255);
  padding: 2rem;
  width: 300px;
  position: fixed;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg)
    bottom;
  text-align: center;
  padding-bottom: 3rem;
}
.closebtn_dialog {
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
  height: 2em;
  z-index: 1;
  margin: 1em;
}
.hide {
  display: none;
}

#student-count {
  font-size: 1.2rem;
  margin-top: 1rem;
}
#searchWrapper {
  display: flex;
  justify-content: flex-end;
}
body {
  max-width: 1100px;
  margin: 0 auto;
}

#student-count {
  text-align: center;
}
#hack {
  position: absolute;
  top: 15%;
  right: 48%;
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.hat {
  position: absolute;
  top: -33px;
  left: -13px;
}
.popup-content {
  padding-inline: 1rem;
  padding-block: 5rem;
}
